*{
    margin: 0%;
}
.header{
    background-color: aliceblue;
    height: 100px;
    position: relative;
}
.nav{
    position:absolute;
    top: 50%;
    left: 5%;
    background-color: black;
    color: #fff;
    width: 90%;
    height: 25px;
}
.main{
    overflow: hidden;
}
.article{
    overflow: hidden;
    background-color: lightblue;
    height: 500px;
    width: 70%;
    float: left;
    position: relative;
}
.aside{
    width: 30%;
    background-color: lightcyan;
    color: #000;
    height: 500px;
    width: 30%;
    float: right;
}
.sect1{
    float: left;
    background-color: lightsalmon;
    position: absolute;
    top: 40px;
    left: 20px;
    height: 120px;
    width: 95%;
}
.sect2{
    float: left;
    background-color: lightsalmon;
    position: absolute;
    top: 190px;
    left: 20px;
    height: 120px;
    width: 95%;
}
.sect3{
    float: left;
    background-color: lightsalmon;
    position: absolute;
    top: 340px;
    left: 20px;
    height: 120px;
    width: 95%;
}
.footer{
    background-color: lightslategray;
    height: 100px;
}